# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Dataset
dataset/

# PyTorch model files
*.pth
*.pt

# Streamlit secrets
.streamlit/secrets.toml
